.container {
    background: linear-gradient(180deg, #0162AF, #011833);
    padding: 2rem;
    border-radius: 1rem;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    box-shadow: 0rem 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.stitle {
    text-align: center;
    font-family: 'MB';
    font-size: 2rem;
    color: #000000;
    margin-bottom: 20px;
}

.yearList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    background-color: var(--background);
    padding: 1rem;
    text-align: center;
    font-family: 'MSB';
    font-size: 1.5rem;
    color: #ffffff;
    border: none;
    border-radius: 1rem;
    margin: 0.5rem;
    width: 6rem;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--green);
}
