.history-main-container{
    display: flex;
    flex: 1;
    height: 80vh;
    background: linear-gradient(180deg, #0162AF, #011833);
    border-radius: 2rem;
    flex-direction: column;
    gap: 2rem;
    width: 40vw;
    padding: 1rem;
}

.h-title-label{
    color: var(--white_s);
    font-size: 2vw;
    font-family: 'MB';
}

.h-content-container{
    
    height: 70vh;
    overflow-y: scroll; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.h-content{
    height: 15vh;
    background-color: var(--background);
    border-radius: 1vh;
    display: flex;
    flex-direction: row;
    padding: 2vh;
}

.h-content-first{
    width: 10vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.h-content-second{
    height: 100%;
    flex: 1;
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.h-content-third{
    flex: 1;
   
    
}
.h-content-fourth{
    flex: 1;
   
    
}
.h-content-fifth{
    width: 10vw;
    height: 100%;

}

.h-content-first-content{
    height: 4vw;
    width: 4vw;
    background-color: var(--grayHalfBg);
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.h-content-left-content-icon-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1vh;
}

.h-content-second-content-container-top{
    width: 100%;
    height: 50%;
   
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    padding-bottom: 0.5vh;
   

}
.h-content-second-content-container-bottom{
    width: 100%;
    height: 50%;
    padding-top: 0.5vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    

}

.h-content-third-content-container-top{
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    padding-bottom: 0.5vh;
}
.h-content-third-content-container-bottom{
    width: 100%;
    height: 50%;
    padding-top: 0.5vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    

}