.loginContainer {
    height: 100vh;
    width: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    font-family: "MR";
    display: flex;
    flex: 1;
    flex-direction: row;

  }

  .loginContainerLeft{
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }


  .loginContainerRight{
    flex: 1;

  }

  .rightParenCR{
    height: 70vh;
    background: linear-gradient(180deg, #0162AF, #011833);
    border-radius: 3rem;
    margin: 3rem;
    display: flex;
    position: relative;
  }

  .rightParenCMainR{
   
    width: 100%;
    background: linear-gradient(180deg, #0162AF, #011833);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    position: absolute;
    right: -2rem;
    top: 2rem;
    overflow-y: scroll;
    height: 90vh;
  
  }

  .labelHeader{
    color: var(--white_s);
    font-family: "MB";
    font-size: 3rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
  }

  .labelSubHeader{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 1.5rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
  }

  .lBottomContainer{
    min-height: 5rem;
    background-color: var(--blue);
    margin: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
}

.lfContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.lBottomContainerlabel{
    color: var(--blue);
    font-family: "MB";
    font-size: 1.5rem;
    align-self: center;
    cursor: pointer;
}
.loginContainerLeftBottom{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logcatimagecontainer{
    height: 30rem;
    width: 30rem;
 }

 .logcatandtrophyimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }

 .roleContainerR{
  min-height: 6rem;
  margin: 2rem;
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  gap: 2rem;
 }

 .aC{
  flex: 1;
  background-color: var(--green);
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
 }

 .sAC{
  flex: 1;
  background-color: var(--orange);
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
 }

 .c-iconContainer{
 
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-left: 2px;
}

 .c-icon{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
 }

 .noteBottomContainer{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;
 }

 .noteTextLabel{
  color: var(--white_s);
  font-size: 1.5rem;
  font-family: var(MSB);
  background-color: #011833;
  padding: 0.5rem;
  border-radius: 1rem;
 }


 @media (max-width: 768px) {
    .loginContainerLeft{
        display: none;
    }
    }


@media (max-width: 480px) {
.loginContainerLeft{
    display: none;
}
}
