.cp-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #0162AF, #011833);
    border-radius: 1rem;
}

.cp-container-main{
    flex: 1;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 70vh;
    margin-top: 1rem;
}