.allocationcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  max-height: 80vh; /* Set maximum height to viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
  background: linear-gradient(180deg, #0162AF, #011833);
  margin: 2vh;
  border-radius: 2vh;
 
}

.location-item {
  height: 30%;
  background: linear-gradient(90deg, #0162AF, #011833);
  margin: 2%;
  flex: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.location-details {
  width: 20%;

  flex-direction: column;
}

.location-header {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  padding: 2vh;
  align-items: center;
  margin: 2vh;
  border-radius: 1vh;
}

.time-items-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Adjust the number of columns here */
  gap: 1vh;
  padding: 2vh;
}

.time-item {
  width: 8vw;
  height: 5vh;
  background: var(--background);
  border-radius: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-item:hover{
  border: 2px solid var(--green); /* Change border color on hover */
  cursor: pointer;
}

.filtercontaineral{
  display: flex;
  height: 5%;
  width: calc(100% - 4%);
  background-color: var(--grayHalfBg);
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin-left: 2%;
  margin-right: 2%;
  
}

.filtercontental{
  display: flex;
  width: 10%;
  height: calc(100% - 6%);
  background-color: var(--background);
  border-radius: 10px;
  margin: 2%;
  justify-content: center;
  align-items: center;
}


.filtercontental:hover{
  border: 2px solid var(--green); /* Change border color on hover */
  cursor: pointer;
}



.back-container:hover{
  cursor: pointer;
}

.alllocationdatecontainer{
  flex: 1;
  height: 80vh;
  width: 82vw;
  display: flex;
  flex-direction: column;
  gap: 2%;
  overflow-y: auto; /* Enable vertical scrolling */
  background: linear-gradient(180deg, #0162AF, #011833);
  margin: 2vh;
  border-radius: 2vh;

}

.date-title-container{
  height: 10vh;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
}

.back-container {
  padding: 1vh;
  margin: 1vh;
  border-radius: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grayHalfBg);
 
}

.dateconatainer{
  height: 60vh;
  margin: 2vh;
  overflow-y: scroll;
 
}

.datecontainer-content{
  height: 10vh;
  background-color: #011833;
  border-radius: 2vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2vh;
  margin-bottom: 1vh;
}


.datecontainer-content:hover{
  border: 2px solid var(--green); /* Change border color on hover */
  cursor: pointer;
}

.datecontainer-content-label{
  color: var(--white_s);
  font-size: 3vh;
  font-family: 'SFR';
}


.resultcontaineral{
  height: 50vh;
  width: calc(100% - 2%); /* Adjust width to account for margin */
  background: linear-gradient(180deg, #0162AF, #011833);
  margin: 1%;
  border-radius: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.resultleftcontaineral{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.resultrightcontaineral{
  width: 50%;
  height: 100%;
  display: flex;
}
.rltopcontaineral{
width: 100%;
height: 25%;
display: flex;
}

.rlmiddlecontaineral{
  flex: 1;
  display: flex;

}

.rlbottomcontaineral{
  width: 100%;
  height: 25%;

  display: flex;
  justify-content: center;
  align-items: center;

}

.rlbottomcontentcontaineral{
  width: 80%;
  height: 80%;
  background-color: var(--background);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  
}

.gamecontrolleral {
  width: 50%;
  object-fit: cover;
 
}

.cupontrolleral{
  width: 80%;
  object-fit: cover;
}

.catcontrolleral{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filtercontentalLabel{
  color: var(--white_s);
  font-family: "HR";
  font-size: 1.1vw;
}
.location-header-label{
  color: var(--white_s);
  font-family: "MB";
  font-size: 1.2vw;
}
.location-header-max-label{
  color: var(--white_s);
  font-family: "MR";
  font-size: 0.6vw;
}
.time-items-container-time-label{
  color: var(--white_s);
  font-family: "MSB";
  font-size: 1vw;
}
.rltopcontaineralNameLabel{
  color: var(--white_s);
  font-family: "MSB";
  font-size: 2.5vw;
}
.rltopcontaineralTimeLabel{
  color: var(--white_s);
  font-family: "MR";
  font-size: 2vw;
}
.rltopcontaineralNumberLabel{
  color: var(--white_s);
  font-family: "HB";
  font-size: 9vw;
}
.imageContainerGame{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.date-title-container-limit-label{
  color: var(--white_s);
  font-family: "MR";
  font-size: 1.2vw;
}

@media (max-width: 1024px) {
  .filtercontentalLabel{
    color: var(--white_s);
    font-family: "HR";
    font-size: 1.4vw;
  }
  .location-header-label{
    color: var(--white_s);
    font-family: "MB";
    font-size: 1.4vw;
  }
  .location-header-max-label{
    color: var(--white_s);
    font-family: "MR";
    font-size: 0.6vw;
  }
  .time-items-container-time-label{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 1.2vw;
  }
}

@media (max-width: 768px) {
  .filtercontentalLabel{
    color: var(--white_s);
    font-family: "HR";
    font-size: 1.8vw;
  }
  .location-header-label{
    color: var(--white_s);
    font-family: "MB";
    font-size: 1.8vw;
  }
  .location-header-max-label{
    display: none;
  }
  .time-items-container-time-label{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 1.4vw;
  }
  .catcontrolleral{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
  .catImageContainer{
    height: max-content;
  }
  .time-items-container-time-label{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 1.4vw;
  }
  .rltopcontaineralNameLabel{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 3vw;
  }
  .rltopcontaineralTimeLabel{
    color: var(--white_s);
    font-family: "MR";
    font-size: 2.5vw;
  }
  .rltopcontaineralNumberLabel{
    color: var(--white_s);
    font-family: "HB";
    font-size: 15vw;
  }
  .imageContainerGame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .resultrightcontaineral{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .date-title-container-limit-label{
    color: var(--white_s);
    font-family: "MR";
    font-size: 1.6vw;
  }
}