.pdContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #0162AF, #011833);
    border-radius: 1rem;
}

.pdiconContainer{
    height: 5rem;
    width: 5rem;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
   
}


.pdicon{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    
}

.paymenticon{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.pnMainContainer{
    flex: 1;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 60vh;
   
   
}

.hdAllContainer{
    flex: 1;
    background: linear-gradient(180deg, #0162AF, #011833);
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    height: 40vh;
}

.hdAllContainerContent{
    height: 45%;
    width: 35rem;
    background-color: var(--background);
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.hdAllContainerContentTop{
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
 
    gap: 1rem;
}
.hdAllContainerContentBottom{
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    gap: 1rem;
}

.hdAllContainerContentTopBoldLabel{
    color: var(--white_s);
    font-family: "MB";
    font-size: 2.5rem;
}
.hdAllContainerContentTopRegularLabel{
    color: var(--white_s);
    font-family: "MR";
    font-size: 1.5rem;
}
.hdContenContainerIcon{
    height: 4rem;
    width: 4rem;
    background-color: var(--white_s);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
   
  }
