.upicontiner{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #0162AF, #011833);
    border-radius: 1rem;
}

.upipdMainContainer{
    flex: 1;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    min-height: 70vh;
    max-width: 80vw;
    margin-left:2rem;
    margin-right: 2rem;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;

   
}

.upipdContentContainer{
    min-height: 60vh;
    width: 35rem;
    background-color: var(--background);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    overflow-y: scroll;
    border: 2px solid var(--background);
    box-sizing: border-box; /* Include padding and border in element's width and height */
    transition: border-color 0.3s; /* Smooth transition for border color */
   
}

.upipdContentContainer:hover{
    border-color: var(--green); /* Change only the color */
    cursor: pointer;
}
.uCCTopC{
    height: 6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.uCCBottomC{
    min-height: 5rem;
    width: 100%;
   
    display: flex;
    flex-direction: row;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.uCCMidC{
    min-height: 5rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 0.5rem;
    
}



.uCCTopFC{
    flex: 0.6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.uCCTopSC{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding-left: 0.5rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;

    /* Ensure text doesn't overflow the container */
    white-space: normal;
}

.parentContetDeposit{
    min-height: 5rem;
    width: 100%;
    background-color: orange;
    display: flex;
    flex-direction: row;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.firstChildD{
    width: 12%;
    min-height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.secondChildD{
    width: 80%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    background-color: blue;

}
.thirdChildD{
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.uCCBottomSC{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 0.5rem;
   

    /* Ensure text doesn't overflow the container */
    white-space: normal;
    border: 1px solid  var(--white_s); 
    border-radius: 1rem;
    padding: 1rem;
    margin-right: 1rem;
}


.pdB{
    color: var(--white_s);
    font-family: "MB";
    font-size: 1.5rem;
}

.pdSB{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 1.2rem;
   
}

.pdR{
    color: var(--white_s);
    font-family: "MR";
    font-size: 1.2rem;
    width: 70%;
}



.pdRBottom{
    color: var(--white_s);
    font-family: "MR";
    font-size: 1.2rem;
    text-align: left;
    align-self: flex-start;
}

.qrcontiner{
    height: 15rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.qrcontinerMain{
    width: 15rem;
    height: 15rem;
}
.qrimg{
    height: 100%;
    width: 100%;

}

.copyCon{
    height: 3rem;
    width: 3rem;
    background-color: var(--white_s);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 0.5rem;
}

.upipdMainContainerV{
    flex: 1;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    overflow-Y: scroll;
    max-height: 60vh;
    margin-left:2rem;
    margin-right: 2rem;
   
   

}
.NC{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;


}

.NotePatentContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1rem;
}