.upideposit-main-container{
    display: flex;
    flex: 1;
    background-color: pink;
    border-radius: 2rem;
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
}

.h-title-label{
    color: var(--white_s);
    font-size: 2vw;
    font-family: 'MSB';
}

.upideposit-container-or{
    height: 55vh;
    display: flex;
    flex-direction: column;

}

.upideposit-content-container-left-upi-or{
    width: 50%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    background-color: var(--background);
}
.deposit-content-container-left-upi-content:hover{
    border: 2px solid var(--green); /* Change border color on hover */
    cursor: pointer;
}

.upideposit-content-container-left-upi-left-or{
    width: 45%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    background-color: cyan;
    min-height: 50vh;
  
}
.upideposit-content-container-left-upi-content{
    width: 90%;
    min-height: 3rem;
    background-color: var(--background);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 1rem;
}

.upideposit-content-container-right-upi-content-or{
    height: 50vh;
    width: 90%;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin: 2rem;
    justify-content: center;
    align-items: center;
}

.deposit-content-container-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upideposit-content-container-right{
    display: flex;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
  

}

.deposit-content-content-left-content-icon-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1vh;
    background-color: white;
    border-radius: '2vh';
    margin-left: 2vw;
}
.upideposit-content-content-left-content-icon-container-qrcode{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1vh;
    background-color: white;
    height: 20rem;
    width: 20rem;
}

.deposit-content-container-right-lebel{
    color: var(--white_s);
    font-size: 1.5rem;
    font-family: 'MB';
 
}

.deposit-content-container-right-lebel-title{
    color: var(--white_s);
    font-size: 1.2vw;
    font-family: 'MB';
 
}

.upideposit-content-container-main-upi-or{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    background: linear-gradient(180deg, #0162AF, #011833);
    border-radius: 1rem;
    height: 50vh;
}

.deposit-content-image-setting {
    height: 100%;
    width: 100%;
    object-fit: contain;
  
}

.upinextcontatiner-upi-deposit{
    background-color: var(--green);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upiDepositFormContainer{
    flex: 1;

}

.formUpiDepositFormContainerContent-or {
    display: flex;
    align-items: flex-start;
    gap: 0.5vw;
    flex-direction: column;
    margin-bottom: 1vw;
}
.formUpiDepositFormContainerContentLabel-or {
    font-family: "MR";
    min-width: 20em;
    color: var(--white_s);

}
.formUpiDepositFormContainerContentInput-or{
    font-family: "MR";
    min-width: 100%;
    background-color: var(--white_s);
    padding: 0.5vw;
    border-color: var(--background);
    border-radius: 0.5vw;
}

.submit-btn-login-deposit {
    padding: 10px;
    border-radius: 5px;
    background-color: #0179FE;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}
@media (max-width: 1024px) {
    .deposit-content-container-right-lebel{
        color: var(--white_s);
        font-size: 2.2vw;
        font-family: 'MB';
     
    }
    .h-title-label{
        color: var(--white_s);
        font-size: 2.2vw;
        font-family: 'MB';
    }
    .upiDepositFormContainer{
        flex: 1;
        min-width: 18vw;
      
    }
    .formUpiDepositFormContainerContent-or {
        display: flex;
        align-items: flex-start;
        gap: 0.5vw;
        flex-direction: column;
        margin-bottom: 1vw;
    }
    .formUpiDepositFormContainerContentLabel-or {
        font-family: "MR";
        color: var(--white_s);
        font-size: 0.8em;
    
    }
    .formUpiDepositFormContainerContentInput-or{
        font-family: "MR";
        
    }
    
    .submit-btn-login-deposit {
        padding: 10px;
        border-radius: 5px;
        background-color: #0179FE;
        color: white;
        border: none;
        cursor: pointer;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .deposit-content-container-right-lebel{
        color: var(--white_s);
        font-size: 2.4vw;
        font-family: 'MB';
     
    }
    .h-title-label{
        color: var(--white_s);
        font-size: 5vw;
        font-family: 'MB';
    }
    .formUpiDepositFormContainerContentLabel-or {
        font-family: "MR";
        min-width: 10em;
        color: var(--white_s);
    
    }
    .upiDepositFormContainer{
        flex: 1;
        min-width: 20vw;
  
    }
    .deposit-container-or{
        height: 70vh;
        overflow-x: scroll; /* Enable vertical scrolling */
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }
    .deposit-content-container-main-upi-or{
        display: flex;
        flex-direction: column;
        gap: 4vh;
        height: 80vh;
    }
    .deposit-content-container-left-upi-left-or{
        width: 100%;
        flex: 1;
    
        border-radius: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: scroll;
       
      
    }
    .deposit-content-container-right-upi-content-or{
        width: 100%;
        background-color: var(--background);
        border-radius: 2vh;
        display: flex;
        flex-direction: row;
        padding: 2vw;
        margin-bottom: 1vw;
    }
    .deposit-content-container-left-upi-or{
        width: 100%;
        flex: 1;
        border-radius: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
      
      
      
    }
    .formUpiDepositFormContainerContentInput-or{
        font-family: "MR";
        min-width: 90%;
        background-color: var(--white_s);
        padding: 0.5vw;
        border-color: var(--background);
        border-radius: 0.5vw;
    }
    .formUpiDepositFormContainerContent-or {
        display: flex;
        align-items: flex-start;
       
        flex-direction: column;
        
    }
    .upideposit-content-container-main-upi-or{
        flex-direction: column;
    }
    .upideposit-content-container-left-upi-or{
        width: 100%;
    }
    .upideposit-content-container-left-upi-left-or{
        width: 100%;
    }
}