.main-content-container-gamedescrition {
  display: flex;
  flex: 1;
  height: 80vh;
  background: linear-gradient(180deg, #0162AF, #011833);
  border-radius: 2rem;
  flex-direction: column;
  gap: 2rem;
  overflow-y: hidden;
}

.title-container {
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh;
}

.title-label {
  color: white;
  font-family: "MB";
  font-size: 4vh;
}

.searchcontainerGD {
  padding: 2vh;
  margin: 2vh;
  border-radius: 2vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--grayHalfBg);
  margin-top: 5vh;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-label {
  color: black;
  font-family: 'MR';
  font-size: 3vh;
  text-align: center;
  padding-left: 1vh;
}

.gdcontent-container {
  flex: 1;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  overflow-y: scroll;
  gap: 2rem;
  border-radius: 1rem;
  margin-top: 2rem;
  margin: 2rem;
  background: linear-gradient(90deg, #0162AF, #011833);
}

.gdcontent {
  height: 7vh;
  width: 100%;
  background-color: var(--background);
  border-radius: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
}

.gdcontent-title {
  color: white;
  font-family: "MR";
  font-size: 3vh;
}

.gdcontent-limit {
  color: white;
  font-family: "MR";
  font-size: 2vh;
}

.all-location-gd{
  height: 7rem;
  width: 80vw;
  background-color: var(--background);
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
}

.title-container-gd{
  min-height: 10rem;
  background: linear-gradient(90deg, #0162AF, #011833);
  display: flex;
  flex-direction: column;

}

@media (max-width: 768px) {
  

  
}



/* .main-content-container-gamedescrition {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1vh;
  gap: 4%;
}

.searchcontainerGD{
  padding: 1vh;
  margin: 1vh;
  border-radius: 2vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--grayHalfBg);
  margin-top: 5vh;
}

.gdcontent-continer{
  flex: 1;
  display: flex;
  background: linear-gradient(180deg, #0162AF, #011833);
  height: 60vh;
  padding: 2vh;
  flex-direction: column;
  overflow-y: scroll;
  gap: 2vh;
  border-radius: 2vh;
  margin-top: 2vh;
  margin: 1vh;
  
}
.gdcontent{
  height: 7vh;
  width: 100%;
  background-color: var(--background);
  border-radius: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
} */
