.main-parent {
    height: 100vh;
    width: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

.topheaderd {
    display: flex;
    height: 10%;
    width: 100%;
    margin-right: 2%;
    flex-direction: row;
}

.lefttopcontinerd {
    width: 18%;
    height: 100%;
    display: flex;
}

.ltcleftd {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;
}

.ltcrightimaged {
    height: 60px;
    width: 60px;
    background-color: white;
    padding: 2%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-imaged {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.ltcrightd {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchcontainerd, .depositcontainerd, .iconcontainerd {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.searchcontainerd {
    flex: 1;
    background-color: var(--grayHalfBg);
    flex-direction: row;
    justify-content: flex-start;
}

.depositcontainerd {
    width: 10%;
    background: linear-gradient(180deg, #7EC630, #3D6017);
}

.walletcontainerd {
    width: 10%;
    background-color: var(--grayHalfBg);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

.iconcontainerd{
    width: 5%;
    background-color: var(--grayHalfBg);
}

.righttopcontinerd {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}


.contentcontainerd {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 90vh;
}

.leftcontainerd {
    width: 15%;
    height: 90vh;

}

.leftsidebartopd {
    height: 55%;
    width: calc(100% - 10%); /* Adjust width to account for margin */
    background: linear-gradient(180deg, #0162AF, #011833);
    margin: 5%;
    margin-right: 5%; /* Add specific margin for the right side */
    border-radius: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.lscontentd{
    width: calc(100% - 10%); /* Adjust width to account for margin */
    background-color: var(--background);
    height: 10%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    
    
}

.lscontentd:hover{
    border: 2px solid var(--green); /* Change border color on hover */
    cursor: pointer;
}




.leftsidebarmiddled {
    height: 30%;
    width: calc(100% - 10%); /* Adjust width to account for margin */
    background: linear-gradient(180deg, #0162AF, #011833);
    margin: 5%;
    margin-right: 5%; /* Add specific margin for the right side */
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative; /* Make this container relative */
    overflow: hidden; /* Hide overflow */
}

.promotionLable {
    color: var(--white_s);
    font-family: "HB";
    font-size: 1.8vw;
    margin: 2vh;
    z-index: 2; /* Ensure the label is above the image */
}

.ImageSlider {
    height: 100%; /* Ensure the slider takes the remaining space */
    width: 100%;
    position: relative; /* For positioning the nav buttons */
}

.promotion-bannerd {
    height: 70%; /* Fixed height for the image container */
    width: 100%;  /* Full width for the image container */
    object-fit: cover; /* Ensure the image covers the container while maintaining its aspect ratio */
}


.leftsidebarbottomd {
    height: 10%;
    width: calc(100% - 10%); /* Adjust width to account for margin */
    margin: 5%;
    margin-right: 5%; /* Add specific margin for the right side */
    border-radius: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.appiconcontainerd{
    width: 20%;
    background-color: var(--grayHalfBg);
    border-radius: 1vh;
    padding: 3px;
}


.main-center-contentd{
    display: flex;
    flex: 1;
}

/* Base styles for the label */
.sidebar-label {
    color: white;
    font-family: "MR"; 
    font-size: 0.8em; /* Use relative units */
    text-align: center;
    flex: 1;
    text-align: left;
  }
  .topbar-label {
    color: black;
    font-family: "HR"; 
    font-size: 0.8em; /* Use relative units */
    text-align: center;
    flex: 1;
    text-align: left;
  }

  .lscontentIconContiner{
    display: flex;
    min-width: 3vw;
    justify-content: right;
    align-items: center;
    
}
.getTheApplabel{
    color: var(--white_s);
    font-family: "HR";
    font-size: medium;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}


.helloLabel{
    color: var(--white_s);
    font-family: "HR";
    font-size: 1.4vw;
}
.usernameLabel{
    color: var(--white_s);
    font-family: "HB";
    font-size: 1.8vw;
}
.searchLabel{
    color: var(--black);
    font-family: "MR";
    font-size:  1.2em;
    padding-left: 10px;
}
.depositLabel{
    color: var(--white_s);
    font-family: "HR";
    font-size:  1vw;
    padding-left: 5px;
}

  /* Medium devices (tablets) */
  @media (max-width: 1024px) {
    /* CSS rules for tablets in landscape mode */
    .helloLabel{
        color: var(--white_s);
        font-family: "HR";
        font-size: 1.8vw;
    }
    .usernameLabel{
        color: var(--white_s);
        font-family: "HB";
        font-size: 2vw;
    }
    .topheaderd {
        display: flex;
        height: 8%;
        width: 100%;
        margin-right: 2%;
        flex-direction: row;
    }
    .searchLabel{
        color: var(--black);
        font-family: "MR";
        font-size:  1em,;
        padding-left: 10px;
    }
  }

  
  
  /* Media query to hide the label on small screens */
  @media (max-width: 768px) {
    .sidebar-label {
      display: none; /* Hide the label on screens smaller than 768px */
    }

    .lscontentd{
        width: calc(100% - 10%); /* Adjust width to account for margin */
        background-color: var(--background);
        height: 10%;
        padding: 2%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        gap: 10px;
        
    }
    .lscontentd:hover{
        border: 2px solid var(--green); /* Change border color on hover */
        cursor: pointer;
    }
    .lscontentIconContiner{
        display: flex;
        min-width: 3vw;
        justify-content: center;
        align-items: center;


        
    }
    .leftsidebarmiddled  {
        display: none;
    }
    .getTheApplabel{
        display: none;
    }
    .leftsidebarbottomd {
        min-width: 60px; /* Adjust width to account for margin */
        margin: 2%;
        margin-right: 5%; /* Add specific margin for the right side */
        border-radius: 1vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;
    }
    .appiconcontainerd{
        width: 40px;
        background-color: var(--grayHalfBg);
        border-radius: 1vh;
        padding: 3px;
    }
    .leftcontainerd {
        width: 15%;
        height: 90vh;
    
    }
    .searchcontainerd {
        width: 50px;
        background-color: var(--grayHalfBg);
        flex-direction: row;
        justify-content: flex-start;
    }
    .searchLabel{
        display: none;
    }

     .depositcontainerd, .iconcontainerd {
        padding: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
    }
    .walletcontainerd,.depositcontainerd,.searchcontainerd{
        display: none;
    }
    .topheaderd {
        display: flex;
        height: 8%;
        width: 100%;
        margin-right: 2%;
        flex-direction: row;
    }
    .lefttopcontinerd {
        width: 18%;
        height: 100%;
        display: flex;
        justify-content: left;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .ltcleftd{
        display: none;
    }

   
   
    
    
   

  }

