.adminDashboardContainer {
    height: 100vh;
    width: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    font-family: "MR";
  }

  .top-admin-d{
    height: 10%;
    display: flex;
    flex-direction: row;
  
  }

  .top-left-d{
    width: 20%;
    display: flex;
    flex-direction: row;
  }
  .top-left-left-d{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
  }
  .top-left-right-d{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hellolabel{
    color: var(--white_s);
    font-family: "MR";
    font-size: 2rem;
  }
  .usernamelabel{
    color: var(--white_s);
    font-family: "MB";
    font-size: 2rem;
    
  }
  .userimagecontainer{
    height: 7rem;
    width: 7rem;
    background-color: white;
    padding: 2%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .userprofileimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .top-right-d{
    flex: 1;
    display: flex;
  }
  .top-right-left-d{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dashboardlabel{
    color: var(--white_s);
    font-family: "MB";
    font-size: 3.5rem;
  }
  .dcontentlabel{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 2rem;
  }
  
  .top-right-right-d{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
    gap: 2rem;
  }

  .iconcontainertop{
    height: 5rem;
    width: 5rem;
    background-color: var(--grayHalfBg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }
  

  /** MAIN CONTAINER START */

  .adminDashboardMainContainer{
    flex: 1;
    display: flex;
    margin: 1rem;
    flex-direction: row;
  }

  .adLeftContainer{
    width: 15%;
    height: 80vh;
    background: linear-gradient(180deg, #0162AF, #011833);
    display: flex;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-y: scroll;

  }

  .adLContenContainer{
    height: 5rem;
    width: 90%;
    background-color: var(--background);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .adLContenContainerIcon{
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
   
  }

  .adLContenContainerLabel{
    color: var(--white_s);
    font-family: "MR";
    font-size: 1.5rem;
    align-self: center;
  }

  .adRightContainer{
    flex: 1;
    display: flex;

    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }

  .depositContainer{
    height: 5rem;
    width: 10rem;
    background-color: var(--green);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1rem;
    flex-direction: row;
    cursor: pointer;
  }
  .depositContainerLabel{
    color: var(--white_s);
    font-family: "MR";
    font-size: 1.1rem;
  }

  .promotionContainerD{
    max-height: 35rem;
    min-height: 15rem;
    width: 100%;
    background-color: pink;
    border-radius: 1rem;
  }

  .shereAppContainer{
    height: 12rem;
    width: 100%;
    background-color: var(--background);
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }

  .shereAppContainerLabel{
    color: var(--white_s);
    font-family: "MB";
    font-size: 1.1rem;
    text-align: center;
  }
   /** MAIN CONTAINER END */


   @media (max-width: 1024px) {
    .adLContenContainerLabel{
      font-size: 1.2rem;
    }
    .dashboardlabel{
      font-size: 3rem;
    }
    .dcontentlabel{
      font-size: 1.5rem;
    }
   }

   @media (max-width: 768px) {
    .adLContenContainerLabel{
      display: none;
    }
    .adLContenContainer{
      justify-content: center;
      width: 6rem;
    }
    .adLeftContainer{
      width: 8rem;
    }
    .top-admin-d{
      height: 6%;
    }
    .top-left-left-d{
      display: none;
    }
    .userimagecontainer{
      height: 5rem;
      width: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .top-left-right-d{
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .top-left-d{
      width: 15%;
    }
    .dashboardlabel{
      font-size: 2rem;
    }
    .dcontentlabel{
      font-size: 1.2rem;
    }
    .promotionContainerD{
      display: none;
    }
    .shereAppContainer{
      flex-direction: column;
    }
   
   }

   @media (max-width: 480px) {
    .adLContenContainerLabel{
      display: none;
    }
    .adLContenContainer{
      justify-content: center;
      width: 5rem;
    }
    .adLeftContainer{
      min-width: 8rem;
    
    }
    .top-left-d{
      width: 10%;
      display: flex;
      flex-direction: row;
      min-height: 15rem;
    }
    .depositContainer{
      height: 5rem;
      width: 5rem;
      justify-content: center;
    
    }
    .depositContainerLabel{
      display: none;
    }
   
   }
