
.buy-ticket-con{
    height: 25vh;
    width: 100%;
    background-color: var(--background);
    border-radius: 1rem 1rem 0 0;
    display: flex;
}
.btc-first{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btc-second{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btc-third{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btcf-first{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.btcf-second{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.btcf-first-botton{
    background-color: var(--green);
    color: var(--white);
    width: 80%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: "MB";
    font-size: 1.5rem;
    text-align: center;
    border-radius: 2rem;
    cursor: pointer;
}
.btcf-first-label-bold{
    color: var(--white_s);
    font-family: "MB";
    font-size: 3rem;
    white-space: nowrap;
}
.btcf-first-label-regular{
    color: var(--white_s);
    font-family: "MR";
    font-size: 1.5rem;
}
.btc-cat-con{
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ensures no overflow outside the container */
}

.btc-cat-con img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image fully covers the container */
  }
.btct-first{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btct-second{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
   
}
.btct-first-botton{
    background-color: var(--green);
    color: var(--white);
}
.winning-label{
    color: var(--green);
    font-family: "MB";
    font-size: 1.5rem;
}
.bctt-prize{
    background-color: var(--yellow);
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--black);
    font-family: "MB";
    font-size: 2rem;
    text-align: center;
}
.jackpot-winner-con{
    height: 15vh;
    width: 100%;
    background-color: var(--background);
    border-radius: 0 0 1rem 1rem;
    display: flex; 
    margin-top: -1rem;
}
.jw-first{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
}
.jw-second{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.jw-third{
    height: 100%;
    width: 20%;
    display: flex;
}
.jws-first{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.prize-distribution-con{
    height: 12vh;
    width: 100%;
    background-color: var(--background);
    border-radius: 1rem;
    display: flex;  
}
.pdc-second{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
 

}
.pdc-fourth{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.pdc-third{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.pdc-first{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;

}
.pdc-ig-con{
    height: 100%;
    width: 20%;
}
.pdct-lcon{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.power-time-con{
    background-color: var(--background);
    height: 15rem;
    width: 35rem;
    border-radius: 1rem;
    display: flex;
    padding: 1rem;
    cursor: pointer;
    
}
.ptc-first{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}
.ptc-second{
    height: 100%;
    width: 30%;
    
}
.ptc-time-label{
    color: var(--white_s);
    font-family: "MB";
    font-size: 2.5rem;
}
.ptc-playnow-label{
    color: var(--white_s);
    font-family: "MR";
    font-size: 2rem;
}
.ptcs-first{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.ptcs-second{
    height: 70%;
    width: 100%;
}
.add-ticket-con{
    min-height: 5rem;
    max-height: 5rem;
    background-color: var(--background);
    border-radius: 1rem;
    display: flex;

}
.atc-first{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.atc-second{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}
.atc-second-label{
    background-color: var(--green);
    color: var(--white);
    font-family: "MB";
    font-size: 1.5rem;
    padding:  1rem;
    border-radius: 1rem;
    cursor: pointer;
}
.ticket-input{
    height: 100%;
    width: 60%;
    color: var(--background);
    font-family: "MR";
    font-size: 2rem;
    border: none; /* Remove the border */
    outline: none; /* Remove the outline when focused */
    padding-left: 1rem;
    border-radius: 1rem;
    text-align: center;
}
.atc-input-con{
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.ticket-main-con{
    height: 100%;
    min-width: 30%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    
    overflow-y: hidden;

}
.tmc-first{
    height: 40%;
    width: 100%;
}
.tmc-second{
    height: 38%;
    width: 100%;
}
.semi-bold{
    font-family: "MSB";
    color: var(--white_s);
    font-size: 2rem;
}
.regular{
    font-family: "MR";
    color: var(--white_s);
    font-size: 1.5rem;
}
.multiplier-main-con{
    min-height: 6rem;
    max-height: 6rem;
    background-color: var(--background);
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    gap: 1rem;
    overflow-x: scroll;
    padding-left: 0.5rem;

}
.multiplier-main-con-ticket{
    
    background-color: var(--background);
    border-radius: 1rem;
    display: flex;
    
    gap: 1rem;
    overflow-x: scroll;
    padding-left: 0.5rem;
}
.game-ball-con{
    height: 100%;
    width: 35rem;
    background-color: var(--background);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    overflow-y: scroll;
    gap: 1rem;
    border-radius: 1rem;
    padding-bottom: 2rem;
}
.powergame-container{
    height: 100%;
    width: 100%;
   
    overflow-x: scroll;
   
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
  
}
.total-ticket-amount{
    background-color: var(--background);
    min-height: 5rem;
    max-height: 5rem;
    height: 5rem;
    width: 100%;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total-ticket-amount-con{
    min-height: 7rem;
    max-height: 7rem;
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: column;
}
.tta-first{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.myticket-dashboard{
    
    width: 100%;
    height: 100%;
    background-color: var(--background);
    display: flex;
    border-radius: 1rem;
    overflow-y: scroll;
    flex-direction: column;
   
}
.mtd-title-con{
    min-height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
  
}
.sn-con{
    height: 100%;
    width: 10%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.snt-con{
    height: 100%;
    width: 60%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.snm-con{
    height: 100%;
    width: 15%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sna-con{
    height: 100%;
    width: 15%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.powerball-main-container{
    display: flex;
   flex: 1;
   height: 85vh;
   background: linear-gradient(180deg, #0162AF, #011833);
   border-radius: 2rem;
   flex-direction: column;
   gap: 2rem;
   width: 40vw;
   padding: 1rem;
}
.activeBall{
    border: 1px solid var(--yellow);
}
.selectedBall{
    border: 1px solid var(--white_s)
}
.submit-enabled{
    background-color: var(--blue);
    border-radius: 1rem;
}
.submit-button-next-con{
    height: 5rem;
    width: 100%;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .btcf-first-label-bold{
        font-size: 1.5rem;
    }
}