.history-main-container{
    display: flex;
    flex: 1;
    height: 80vh;
    background: linear-gradient(180deg, #0162AF, #011833);
    margin: 2vh;
    border-radius: 2vh;
    padding: 2vh;
    flex-direction: column;
    gap: 2vh;
}

.h-title-label{
    color: var(--white_s);
    font-size: 2vw;
    font-family: 'MB';
}

.submit-btn-balance-transfer {
    padding: 10px;
    border-radius: 5px;
    background-color: #0179FE;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.h-content-container-result{
    
    height: 70vh;
    overflow-y: scroll; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    gap: 1vh;
    flex-direction: row;
}


.h-title-label-medium{
    color: var(--white_s);
    font-size: 1.5vw;
    font-family: 'MR';
}

.all-location-result{
  height: 15%;
  background: linear-gradient(90deg, #0162AF, #011833);
  flex: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  align-items: center;
 
}

.location-item-result {
    height: 60%;
    min-width: 20%;
    background: linear-gradient(90deg, #0162AF, #011833);
    margin: 2%;
    flex: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }

  .location-details-result {
    width: 20%;
    flex-direction: column;
  }

  .location-header-result {
    height: 50%;
    min-width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh;
    align-items: center;
    margin: 2vh;
    border-radius: 1vh;
  }


