.hdcontainer{
    flex: 1;
    display: flex;
    flex-direction: row;

}

.hdLeftC{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}
.hdRightC{
    width: 20%;
    height: 100%;
    background: linear-gradient(180deg, #0162AF, #011833);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}
.hdrLabel{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}
.hdRightCContainer{
    overflow-y: scroll;
    display: flex;
    height: 80vh;
    flex-direction: column;
    padding-top: 1rem;
    gap: 0.5rem;
   
}

.hdrContentC{
    min-height: 5rem;
    background-color: var(--background);
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;

}

.hdrcL{
    flex: 1.2;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.hdrcLLabel{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 1rem;
}

.hdrcMResultLabel{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 1.2rem;
}

.hdrcMAmoutLabel{
    color: var(--white_s);
    font-family: "MR";
    font-size: 0.7rem;
}
.hdrcRResultLabel{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 0.8rem;
}

.hdrcM{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.hdrcR{
    flex: 1;
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hdLeftCTop{
    height: 34vh;
    width: 100%;
    background: linear-gradient(180deg, #0162AF, #011833);
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
}

.hdlTLT{
    min-height: 5rem;
    width: 100%;
   padding-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hdlTLTL{
    flex: 1;
  
    height: 100%;
    display: flex;
    align-items: center;
}
.hdlTLTR{
    flex: 1;

    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.hdlTLTLNextResult{
    color: var(--white_s);
    font-family: "MB";
    font-size: 2rem;
}
.hdlTLTLNR{
    color: var(--white_s);
    font-family: "MR";
    font-size: 2rem;
}

.hdlTLTLNRtimer{
    color: var(--white_s);
    font-family: "MR";
    font-size: 1.5rem;
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.hdlTLTLNRB{
    color: var(--white_s);
    font-family: "MR";
    font-size: 1.4rem;
}

.hdlTLTLCountry{
    color: var(--white_s);
    font-family: "MB";
    font-size: 3rem;
}

.hdlTLM{
    flex: 1;
  
    display: flex;
    flex-direction: row;
}

.hdlTLML{
    flex: 1;
    display: flex;

    justify-content: center;
    align-items: center;
}   
.hdlTLMR{
    width: 15%;
    height: 100%;
 
    display: flex;
    justify-content: center;
    align-items: center;
}

.hdlMNumber{
    color: var(--white_s);
    font-family: "MB";
    font-size: 8rem;
}

.hdlTLB{
    height: 5rem;
    background-color: var(--background);
    margin: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.hdlTL{
    flex: 1;
  
    display: flex;
    flex-direction: column;
}
.hdlTR{
    flex: 1;
    display: flex;
    flex-direction: row;

}

.hdlTRLeft{
    flex: 1;
  
    display: flex;
    flex-direction: column;
   
}

.hdlTRLeftT{
 
    height: 50%;
    display: flex;
    padding: 2rem;
    justify-content:flex-start;
    align-items: flex-start;
}
.hdlTRLeftB{
    height: 50%;
    display: flex;
    padding: 1rem;
    justify-content:flex-start;
    align-items: flex-start;
}
.hdtrophyimage{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.hdlTRRight{

    height: 100%;
    width: 50%;
}

.hdcatimage{
    height: 100%;
    width: 100%;
    object-fit: contain;
}



.hdLeftCMiddle{
    height: 20vh;
    width: 66vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}

.hdMC{
    min-width: 12rem;
    margin: 1rem;
    height: 90%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.hdMCT{
    flex: 0.5;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.hdMCM{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.hdMCB{
    flex: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hdMCTCountry{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 1.5rem;
}

.hdMCTResult{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 4rem;
}
.hdMCTTime{
    color: var(--white_s);
    font-family: "MR";
    font-size: 1.5rem;
}



.hdLeftCBottom{
    min-height: 31vh;
    flex: 1;
    width: 66vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.hdFContainer{
    height: 4rem;
    background-color: var(--white_s);
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 62vw;
    overflow-x: scroll;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
    overflow-y: hidden;
}



.hdFCContenL{
    color: var(--white_s);
    font-family: "MR";
    font-size: 1.5rem;
    background-color: var(--background);
    min-width: 9rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 1rem;
}

.hdlocC{
    height: 26vh;
 
}


.hdLocationContainer{
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 28vh;
   
}

.hdLocationContainerLeft{
    width: 20%;
    background: linear-gradient(180deg, #0162AF, #011833);
   
    border-radius: 1rem;
    overflow-y: scroll;
}


.hdLocationContainerLeftContent{
    height: 5rem;

    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.hdLocationContainerLeftContentNameLabel{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 1.5rem;
}
.hdLocationContainerLeftContentLimitLabel{
    color: var(--white_s);
    font-family: "MR";
    font-size: 1rem;
}

.hdLocationContainerRight{
    flex: 1;
    display: flex;
    background: linear-gradient(180deg, #0162AF, #011833);
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    overflow-y: scroll;
}

.hdLocationContainerRightTimeContainer{
    flex: 1;
    display: flex;
  
    margin: 1rem;
    border-radius: 1rem;
    flex-direction: column;
}
.hdLocationContainerRightTimeContainerTop{
    min-height: 4rem;
    background-color: #011833;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.hdLocationContainerRightTimeContainerContentContainer{
   flex: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hdLocationContainerRightTimeContainerContentContainer-result{
    flex: 1;
 
     margin-left: 1rem;
     margin-right: 1rem;
     margin-bottom: 1rem;
     display: flex;
     flex-direction: row;
 }

.hdLocationContainerRightTimeContainerContentContainer-time{
    height: 4rem;
    width: fit-content;
    background-color: var(--background);
    margin: 1rem;
    border-radius: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
   
}

.hdLocationContainerRightTimeContainerContentContainer-time:hover{
    border: 2px solid var(--green); /* Change border color on hover */
    cursor: pointer;
}


.hdLocationContainerRightTimeContainerContentContainer-time-label{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 1.5rem;
  
}

.hdLocationContainerRightTimeContainerContentContainer-resultleft{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .hdLocationContainerRightTimeContainerContentContainer-resultright{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
 }

 .hdLocationContainerRightTimeContainerContentContainer-resultleft-number{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 10rem;
 }

 .hdLocationContainerRightTimeContainerContentContainer-resultleft-date{
    color: var(--white_s);
    font-family: "MR";
    font-size: 1.5rem;
    background-color: var(--background);
    padding: 1rem;
    border-radius: 1rem;
 }

 .trophyimagecontainer{
    height: 10rem;
    width: 10rem;

 }

 .catimagecontainer{
    height: 10rem;
    width: 10rem;
 }

 .catandtrophyimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
   
  }


@media (max-width: 1024px){
    .hdAllContainerContent{
        height: 35%;
        width: 30rem;
    }
}

@media (max-width: 768px){
    .hdAllContainerContent{
        height: 30%;
        width: 30rem;
    }
    .hdLocationContainerLeftContentLimitLabel{
        display: none;
    }
    .hdLocationContainerRightTimeContainerContentContainer-result{
        flex-direction: column;
    }
    .hdRightC{
        display: none;
    }
    .hdLeftCMiddle{
        width: 82vw;
    }
    .hdLeftCBottom{
        width: 82vw;
    }
    .hdFContainer{
        max-width: 82vw;
    }
   
}

@media (max-width: 480px){
    .hdAllContainerContent{
        height: 30%;
        width: 20rem;
    }
    .hdLocationContainerLeftContentLimitLabel{
        display: none;
    }
    .hdLocationContainerRightTimeContainerContentContainer-time-label{
        font-size: 1rem;
    }
    .hdLocationContainerRightTimeContainerContentContainer-result{
         flex-direction: column;
     }
   
    
   
}

@media (max-width: 350px){
    .hdAllContainerContent{
        height: 20rem;
        width: 20rem;
    }
    .hdAllContainer{
        flex: 1;
        width: 100%;
        background: linear-gradient(180deg, #0162AF, #011833);
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        overflow-y: scroll;
        height: 40vh;
    }
    .hdLocationContainer{
        flex: 1;
        width: 100%;
    }
    .hdLocationContainerRightTimeContainerContentContainer-time-label{
        font-size: 0.8rem;
    }
    
   
}

