.main-parent {
    height: 100vh;
    width: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

.topheader-setting {
    display: flex;
    height: 10vh;
    width: 100%;
    margin-right: 2%;
    flex-direction: row;
}

.lefttopcontiner-setting {
    width: 18vw;
    height: 100%;
    display: flex;
}

.left-content-label{
    color: var(--white);
    font-family: "MR";
    font-size: 2vh;
    text-align: left;
    padding-left: 1vh;
 
}

.left-content-label-title{
    color: var(--white);
    font-family: "MB";
    font-size: 3vh;
    text-align: "center";
    padding: 1vh;
 
 
}

.left-content-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

.ltcleft-setting {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;
}

.ltcrightimage-setting {
    height: 8vh;
    width: 8vh;
    background-color: white;
    padding: 2%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-image-setting {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.ltcright-setting {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: 'pink';
}

.depositcontainer-setting, .walletcontainer-setting, .iconcontainer-setting {
    padding: 3vh;
    margin: 2vh;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.searchcontainer-setting {
    flex: 1;
    background-color: var(--grayHalfBg);
    flex-direction: row;
    justify-content: flex-start;
    padding: 3vh;
    margin: 2vh;
    border-radius: 1vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.depositcontainer-setting {
    width: 10%;
    background: linear-gradient(180deg, #7EC630, #3D6017);
}

.walletcontainer-setting {
    width: 10%;
    background-color: var(--grayHalfBg);
}

.iconcontainer-setting {
    width: 5vh;
    height: 5vh;
    background-color: var(--grayHalfBg);
}



.contentcontainer {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 90vh;
}

.leftcontainerS {
    width: 15%;
    height: 90vh;

}

.leftsidebartopS {
    height: 80%;
    width: calc(100% - 10%); /* Adjust width to account for margin */
    background: linear-gradient(180deg, #0162AF, #011833);
    margin: 5%;
    margin-right: 5%; /* Add specific margin for the right side */
    border-radius: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.lscontent{
    width: calc(100% - 10%); /* Adjust width to account for margin */
    background-color: var(--background);
    height: 10%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
}

.lscontent:hover{
    border: 2px solid var(--green); /* Change border color on hover */
    cursor: pointer;
}

.appiconcontainer{
    width: 20%;
    background-color: var(--grayHalfBg);
    border-radius: 1vh;
    padding: 3px;
}

.main-center-content{
    display: flex;
    flex: 1;

      
}

.righttopcontinersetting {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}