.main-parent {
    height: 100vh;
    width: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

.topheader-setting {
    display: flex;
    height: 10vh;
    width: 100%;
    margin-right: 2%;
    flex-direction: row;
}

.lefttopcontiner-setting {
    width: 18vw;
    height: 100%;
    display: flex;
}

.left-content-label{
    color: white;
    font-family: "MR"; 
    font-size: 0.8em; /* Use relative units */
    text-align: center;
    flex: 1;
    text-align: left;
 
}

.left-content-label-title{
    color: var(--white);
    font-family: "MB";
    font-size: 3vh;
    text-align: "center";
    padding: 1vh;
 
 
}

.left-content-icon-container{
    display: flex;
    min-width: 3vw;
    justify-content: right;
    align-items: center;
}

.ltcleft-setting {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;
}

.ltcrightimage-setting {
    height: 8vh;
    width: 8vh;
    background-color: white;
    padding: 2%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-image-setting {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.ltcright-setting {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: 'pink';
}

.depositcontainer-setting, .walletcontainer-setting, .iconcontainer-setting {
    padding: 3vh;
    margin: 2vh;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.searchcontainer-setting {
    flex: 1;
    background-color: var(--grayHalfBg);
    flex-direction: row;
    justify-content: flex-start;
    padding: 3vh;
    margin: 2vh;
    border-radius: 1vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.depositcontainer-setting {
    width: 10%;
    background: linear-gradient(180deg, #7EC630, #3D6017);
}

.walletcontainer-setting {
    width: 10%;
    background-color: var(--grayHalfBg);
}

.iconcontainer-setting {
    width: 5vh;
    height: 5vh;
    background-color: var(--grayHalfBg);
}



.contentcontainer {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 90vh;
}

.leftcontainerS {
    width: 15%;
    height: 90vh;

}

.leftsidebartopS {
    height: 80%;
    width: calc(100% - 10%); /* Adjust width to account for margin */
    background: linear-gradient(180deg, #0162AF, #011833);
    margin: 5%;
    margin-right: 5%; /* Add specific margin for the right side */
    border-radius: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.lscontent{
    width: calc(100% - 10%); /* Adjust width to account for margin */
    background-color: var(--background);
    height: 10%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    align-self: center;
}

.lscontentS{
    width: calc(100% - 10%); /* Adjust width to account for margin */
    height: 10%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.lscontent:hover{
    border: 2px solid var(--green); /* Change border color on hover */
    cursor: pointer;
}

.appiconcontainer{
    width: 20%;
    background-color: var(--grayHalfBg);
    border-radius: 1vh;
    padding: 3px;
}

.main-center-content{
    display: flex;
    flex: 1;

      
}

.righttopcontinersetting {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.settingContainer{
    height: 8%;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}


  /* Medium devices (tablets) */
  @media (max-width: 1024px) {
    /* CSS rules for tablets in landscape mode */
    .helloLabel{
        color: var(--white_s);
        font-family: "HR";
        font-size: 1.8vw;
    }
    .usernameLabel{
        color: var(--white_s);
        font-family: "HB";
        font-size: 2vw;
    }
    .topheaderd {
        display: flex;
        height: 8%;
        width: 100%;
        margin-right: 2%;
        flex-direction: row;
    }
    .searchLabel{
        color: var(--black);
        font-family: "MR";
        font-size:  1em,;
        padding-left: 10px;
    }
  }

  
  
  /* Media query to hide the label on small screens */
  @media (max-width: 768px) {
    .left-content-label {
      display: none; /* Hide the label on screens smaller than 768px */
    }

    .lscontentd{
        width: calc(100% - 10%); /* Adjust width to account for margin */
        background-color: var(--background);
        height: 10%;
        padding: 2%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        gap: 10px;
        
    }
    .lscontentd:hover{
        border: 2px solid var(--green); /* Change border color on hover */
        cursor: pointer;
    }
    .lscontentIconContiner{
        display: flex;
        min-width: 3vw;
        justify-content: center;
        align-items: center;
        
    }
    .leftsidebarmiddled  {
        display: none;
    }
    .getTheApplabel{
        display: none;
    }
    

     .depositcontainerd, .iconcontainerd {
        padding: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
    }
    .walletcontainerd,.depositcontainerd,.searchcontainerd{
        display: none;
    }
    .topheaderd {
        display: flex;
        height: 8%;
        width: 100%;
        margin-right: 2%;
        flex-direction: row;
    }
    .lefttopcontinerd {
        width: 18%;
        height: 100%;
        display: flex;
        justify-content: left;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .ltcleftd{
        display: none;
    }

    .left-content-label-title{
        display: none;
    }

   
    .settingContainer{
        display: none;
    }
    
    .lscontentS{
        width: calc(100% - 10%); /* Adjust width to account for margin */
        height: 10%;
        padding: 2%;
        display: flex;
        flex-direction: row;
        border-radius: 8px;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin-top: 15%;
    }
    
   

  }