.deposit-main-container{
    display: flex;
    flex: 1;
    height: 80vh;
    background: linear-gradient(180deg, #0162AF, #011833);
    margin: 2vh;
    border-radius: 2vh;
    padding: 2vh;
    flex-direction: column;
    gap: 2vh;
}

.h-title-label{
    color: var(--white_s);
    font-size: 2vw;
    font-family: 'MSB';
}

.deposit-container{
    height: 70vh;
    overflow-y: scroll; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.deposit-content-container{
    width: 45%;
    height: 20vh;
    background-color: var(--background);
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
}

.deposit-content-container-left{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;


}

.deposit-content-container-right{
    flex: 3;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2vh;

}

.deposit-content-content-left-content-icon-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1vh;
    background-color: white;
    border-radius: '2vh';
    margin-left: 2vw;
}

.deposit-content-container-right-lebel{
    color: var(--white_s);
    font-size: 2vw;
    font-family: 'MB';
 
}

.deposit-content-container-main{
    display: flex;
    flex-direction: row;
    gap: 4vh;
}

.deposit-content-image-setting {
    height: 100%;
    width: 100%;
    object-fit: cover;
  
}

@media (max-width: 1024px) {
    .deposit-content-container-right-lebel{
        color: var(--white_s);
        font-size: 2.2vw;
        font-family: 'MB';
     
    }
    .h-title-label{
        color: var(--white_s);
        font-size: 2.2vw;
        font-family: 'MB';
    }
}

@media (max-width: 768px) {
    .deposit-content-container-right-lebel{
        color: var(--white_s);
        font-size: 2.4vw;
        font-family: 'MB';
     
    }
    .h-title-label{
        color: var(--white_s);
        font-size: 5vw;
        font-family: 'MB';
    }
}