.history-main-container-org{
    display: flex;
    flex: 1;
    height: 80vh;
    background: linear-gradient(180deg, #0162AF, #011833);
    border-radius: 2rem;
    flex-direction: column;
    padding: 1rem;
}

.h-title-label-h{
    color: var(--white_s);
    font-size: 2em;
    font-family: 'MB';
}

.h-content-container-org{
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    overflow-y: scroll; /* Enable vertical scrolling */
}

.h-content-org{
    min-height: 8rem;
    background-color: var(--background);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.h-content-first-history{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-content-second{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0.5rem;
 

}
.h-content-third{
    flex: 1;
    
}
.h-content-fourth{
    flex: 1;
   
    
}
.h-content-fifth{
    width: 8rem;
    height: 100%;
}

.h-content-first-content{
    background-color: var(--white_s);
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.h-content-left-content-icon-container{
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-content-second-content-container-top{
    width: 100%;
    height: 50%;
   
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    padding-bottom: 0.5rem;
   

}
.h-content-second-content-container-bottom{
    width: 100%;
    height: 50%;
    padding-top: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    

}

.h-content-third-content-container-top{
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    padding-bottom: 0.5rem;
}
.h-content-third-content-container-bottom{
    width: 100%;
    height: 50%;
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    

}
.h-content-second-content-container-top-amount{
    color: var(--white_s);
    font-family: "MR";
    font-size: 1.2rem;
}
.h-content-second-content-container-top-amount-val{
    color: var(--white_s);
    font-family: "MB";
    font-size: 1.2rem;
}
.h-content-second-content-container-top-date{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 1.2rem;
}
.h-content-third-content-container-top-payment{
    color: var(--white_s);
    font-family: "MR";
    font-size: 1.2rem;
}
.h-content-third-content-container-top-payment-val{
    color: var(--white_s);
    font-family: "MSB";
    font-size: 1.2rem;
}
.h-content-third-content-container-bottom-status{
    color: var(--green);
    font-family: "MR";
    font-size: 1.2rem;
}

@media (max-width: 1024px) {

    .h-content-second-content-container-top-amount{
        color: var(--white_s);
        font-family: "MR";
        font-size: 1.2rem;
        display: none;
    }
    .h-content-second-content-container-top-amount-val{
        color: var(--white_s);
        font-family: "MB";
        font-size: 1.2rem;
    }
    .h-content-second-content-container-top-date{
        color: var(--white_s);
        font-family: "MSB";
        font-size: 1.2rem;
    }
    .h-content-third-content-container-top-payment{
        color: var(--white_s);
        font-family: "MR";
        font-size: 1.2rem;
    }
    .h-content-third-content-container-top-payment-val{
        color: var(--white_s);
        font-family: "MSB";
        font-size: 1.2rem;
    }
    .h-content-third-content-container-bottom-status{
        color: var(--green);
        font-family: "MR";
        font-size: 1.2rem;
    }
    .h-title-label-h{
        color: var(--white_s);
        font-size: 2rem;
        font-family: 'MB';
    }
}

@media (max-width: 768px) {

    .h-content-second-content-container-top-amount{
        color: var(--white_s);
        font-family: "MR";
        font-size: 0.6rem;
    }
    .h-content-second-content-container-top-amount-val{
        color: var(--white_s);
        font-family: "MB";
        font-size: 0.6rem;
    }
    .h-content-second-content-container-top-date{
        color: var(--white_s);
        font-family: "MSB";
        font-size: 0.6rem;
    }
    .h-content-third-content-container-top-payment{
        color: var(--white_s);
        font-family: "MR";
        font-size: 0.6rem;
    }
    .h-content-third-content-container-top-payment-val{
        color: var(--white_s);
        font-family: "MSB";
        font-size: 0.6rem;
    }
    .h-content-third-content-container-bottom-status{
        color: var(--green);
        font-family: "MR";
        font-size: 0.6rem;
    }
    .h-title-label-h{
        color: var(--white_s);
        font-size: 1rem;
        font-family: 'MB';
    }
   
}