@import './assets/constants/variables.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}


@font-face {
  font-family: "MR";   /*Can be any text*/
  src: local("MontserratRegular"),
    url("../src/assets/fonts/MontserratRegular.ttf") format("truetype");
}

@font-face {
  font-family: "E";   /*Can be any text*/
  src: local("Elephant"),
    url("../src/assets/fonts/Elephant.ttf") format("truetype");
}

@font-face {
  font-family: "HB"; 
  src: local("HelveticaBold"),
    url("../src/assets/fonts/HelveticaBold.ttf") format("truetype");
}

@font-face {
  font-family: "HR"; 
  src: local("Helvetica"),
    url("../src/assets/fonts/Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: "SFM"; 
  src: local("SFPROMEDIUM"),
    url("../src/assets/fonts/SFPROMEDIUM.OTF") format("opentype");
}

@font-face {
  font-family: "SFR"; 
  src: local("SFPROREGULAR"),
    url("../src/assets/fonts/SFPROREGULAR.OTF") format("opentype");
}

@font-face {
  font-family: "MB"; 
  src: local("MontserratBold"),
    url("../src/assets/fonts/MontserratBold.ttf") format("truetype");
}

@font-face {
  font-family: "MSB"; 
  src: local("MontserratBold"),
    url("../src/assets/fonts/MontserratSemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "ZR"; 
  src: local("ZCOOLRegular"),
    url("../src/assets/fonts/ZCOOLRegular.ttf") format("truetype");
}






/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  min-height: 100vh;
  height:100%;
  width: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: Elephant;
  src: url("../src/assets/fonts/Elephant.ttf");
}

@font-face {
  font-family: HELVETICA_BOLD;
  src: url("../src/assets/fonts/Helvetica-Bold.ttf");
}

@font-face {
  font-family: HELVETICA_REGULAR;
  src: url("../src/assets/fonts/Helvetica.ttf");
}

@font-face {
  font-family: SF_PRO_MEDIUM;
  src: url("../src/assets/fonts/SFPRO-MEDIUM.OTF");
}

@font-face {
  font-family: SF_PRO_REGULAR;
  src: url("../src/assets/fonts/SFPRO-REGULAR.OTF");
}

@font-face {
  font-family: Montserrat_Bold;
  src: local('Montserrat-Bold'),
  url("../src/assets/fonts/Montserrat-Bold.ttf") format('truetype');
}

@font-face {
  font-family: Montserrat_Regular;
  src: url("../src/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat_SemiBold;
  src: url("../src/assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: ZCOOL_Regular;
  src: url("../src/assets/fonts/ZCOOL-Regular.ttf");
}
 */
